<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://quilla.lab.inf.pucp.edu.pe:1054/Prueba</property>
    <property name="hibernate.connection.username">guest</property>
    <property name="hibernate.connection.password">guest</property> 
<!--<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/flytrack</property>
    <property name="hibernate.connection.username">ronald</property>
    <property name="hibernate.connection.password">ronald</property>>-->
<!--     <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/flytrack</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">postgres</property>-->
    <property name="connection.autocommit">false</property> 
    <property name="show_sql">true</property>
    <mapping class="beans.Aeropuerto"/>
    <mapping class="beans.Cliente"/>
    <mapping class="beans.Envio"/>
    <mapping class="beans.Escala"/>
    <mapping class="beans.Incidencia"/>
    <mapping class="beans.Parametro"/>
    <mapping class="beans.Tarifa"/>
    <mapping class="beans.Vuelo"/>
    <mapping class="beans.TipoCambio"/>
    <mapping class="beans.seguridad.Usuario"/>
    <mapping class="beans.seguridad.Permiso"/>
    <mapping class="beans.seguridad.Perfil"/>
    <mapping class="beans.seguridad.Contrasena"/>
    <mapping class="beans.seguridad.Accion"/>
    <mapping class="beans.seguridad.Pista"/>
  </session-factory>
</hibernate-configuration>
